<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Room</title>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/main.js"></script>
</head>

<body>
    <h1>Voice Room</h1>
    <div id="roomId" style="display: none;">
        <%= roomId %>
    </div> <!-- Hidden roomId element -->
    <div id="userName" style="display: none;">
        <%= userName %>
    </div> <!-- Hidden userName element -->

    <h3>Room ID: <%= roomId %>
    </h3>
    <div id="participants"></div>
</body>

</html>